body{
    font-family: 'Roboto', sans-serif;
}

header h1{
    vertical-align:text-top;
}

main{
    background-color: rgb(5, 5, 78);
    height: 80vh;
    color: white;
    font-weight: 600;
}

div.grid{
    width: 500px;
    height: 500px;
    border: 3px solid black;
}

div.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 3px solid black;
}

.clicked{
    background-color: aquamarine;
}